
@{
    ViewBag.Title = "Weather2";
}

<h2>Weather2</h2>

<h1>Current Conditions in <span date-bind="text:name"></span></h1>

<h2>Current Temp: <span data-bind="text:main.temp"></span>&deg; F</h2>

@<input type="button" value="Get Weather" onclick="getMyCurrentWeather();" />'@

<script>
    var weatherObject = Object();

    $(document).ready(function getMyCurrentWeather() {
        $.get("@Url.Action("GetWeather", "Home")",
            function (response) {
                console.log(response);
                weatherObject = ko.mapping.fromJS(response);
                ko.applyBindings(weatherObject);
            });
    });
</script>